/* Montserrat - 400 */
@font-face {
    font-family: 'Montserrat';
    src: url("../Fonts/Montserrat/Montserrat-Regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../Fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../Fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), /* Super Modern Browsers */
        url("../Fonts/Montserrat/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
        url("../Fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */ 
        url("../Fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg"); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../Fonts/Montserrat/Montserrat-SemiBold.eot"); /* IE9 Compat Modes */
  src: local(""),
      url("../Fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../Fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), /* Super Modern Browsers */
      url("../Fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), /* Modern Browsers */
      url("../Fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */ 
      url("../Fonts/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* Montserrat - 700 */
@font-face {
  font-family: 'Montserrat';
  src: url("../Fonts/Montserrat/Montserrat-Bold.eot"); /* IE9 Compat Modes */
  src: local(""),
      url("../Fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../Fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), /* Super Modern Browsers */
      url("../Fonts/Montserrat/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
      url("../Fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"), /* Safari, Android, iOS */ 
      url("../Fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Montserrat - 800 */
@font-face {
  font-family: 'Montserrat';
  src: url("../Fonts/Montserrat/Montserrat-ExtraBold.eot"); /* IE9 Compat Modes */
  src: local(""),
      url("../Fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../Fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), /* Super Modern Browsers */
      url("../Fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), /* Modern Browsers */
      url("../Fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */ 
      url("../Fonts/Montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

/* Ico - Fonts */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/font-icon/icomoon.eot?wfcadb'); /* IE9 Compat Modes */
  src: local(""),
      url('../fonts/font-icon/icomoon.eot?wfcadb#iefix') format('embedded-opentype'),  /* IE6-IE8 */
      url("../fonts/font-icon/icomoon.woff2?wfcadb") format("woff2"), /* Super Modern Browsers */
      url('../fonts/font-icon/icomoon.woff?wfcadb') format('woff'),
       url('../fonts/font-icon/icomoon.ttf?wfcadb') format('truetype'),
      url('../fonts/font-icon/icomoon.svg?wfcadb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before
 {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-telegram:before {
  content: "\e901";
}
.icon-viber:before {
  content: "\e902";
}

