/* Montserrat - 400 */
@font-face {
    font-family: 'Montserrat';
    src: url("../Fonts/Montserrat/Montserrat-Regular.eot"); /* IE9 Compat Modes */
    src: local(""),
        url("../Fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../Fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), /* Super Modern Browsers */
        url("../Fonts/Montserrat/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
        url("../Fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */ 
        url("../Fonts/Montserrat/Montserrat-Regular.svg#Montserrat") format("svg"); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}

/* Montserrat - 700 */
@font-face {
  font-family: 'Montserrat';
  src: url("../Fonts/Montserrat/Montserrat-Bold.eot"); /* IE9 Compat Modes */
  src: local(""),
      url("../Fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../Fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), /* Super Modern Browsers */
      url("../Fonts/Montserrat/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
      url("../Fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"), /* Safari, Android, iOS */ 
      url("../Fonts/Montserrat/Montserrat-Bold.svg#Montserrat") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

/* Montserrat - 800 */
@font-face {
  font-family: 'Montserrat';
  src: url("../Fonts/Montserrat/Montserrat-ExtraBold.eot"); /* IE9 Compat Modes */
  src: local(""),
      url("../Fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../Fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"), /* Super Modern Browsers */
      url("../Fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"), /* Modern Browsers */
      url("../Fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */ 
      url("../Fonts/Montserrat/Montserrat-ExtraBold.svg#Montserrat") format("svg"); /* Legacy iOS */
  font-style: normal;
  font-weight: 800;
}
