/*
1.VARIABLES
2.BASIC tags
3.BASIC class
4.Button & btn link
6.HEADER
  6.1.HEADER menu
  6.2.HEADER main screen 
7.MAIN
  7.1.MAIN haeder
  7.2.MAIN main
  7.3.MAIN article
  7.4.MAIN section
20.MEDIA

*/

/*----------- 1.VARIABLES ----*/
:root {
  --color-white: white;
  --color-black: black;
  --color-medium-blue: #73a6b1;

  --color-light-blue: #f1fdff;
  --color-light3-blue: #9ad2de;

  --color-button: #7ae5fd;
  --color-button-hover: #00d0ff;

  --color-link-hover: #000ad0;

  --max-width: 81.125rem;
  --nav-height: 9rem;
}

/*----------- 2.BASIC tags ----*/
body {
  background: var(--color-white);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-black);
}

a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h2 {
  font-size: clamp(2.5rem, 2.03566rem + 1.905vw, 3.75rem);
  letter-spacing: clamp(
    -0.075rem,
    -0.04074rem + -0.038vw,
    -0.05rem
  ); /* 1.2px | -0.8px; */
}

/*----------- 3.BASIC class ----*/
.container {
  max-width: var(--max-width);
  margin-inline: auto;
}

.container-padding {
  padding-left: clamp(
    1.25rem,
    -1.93735rem + 7.083vw,
    4.4375rem
  ); /*720 px - 20 px*/
  padding-right: clamp(
    1.25rem,
    -1.93735rem + 7.083vw,
    4.4375rem
  ); /*720 px - 20 px*/
}

.off {
  display: none;
}

.bottom-indent {
  margin-bottom: clamp(4.375rem, 2.28582rem + 8.571vw, 10rem);
}

/*----------- 4.Button & btn link ----*/
.btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5.4375rem;
  padding: 1.3125rem 2.1875rem;
  background: var(--color-button);
}

.btn:focus,
.btn:hover {
  background: var(--color-button-hover);
}

.btm-menu {
  margin-inline-start: 1.5rem;
}

.btn_link {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 21.6px */
  color: var(--color-black);
}

/*  .btn-bank {
  display: block;
  margin: 0 auto;
}*/

/*----------- 6.HEADER ----*/
.nav {
  height: var(--nav-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 4.0625rem;
  height: 4.0625rem;
}

/*----------- 6.1.HEADER menu----*/
.menu {
  display: flex;
}

.menu-items {
  display: flex;
  align-items: center;
  column-gap: clamp(2rem, 0.50015rem + 3.333vw, 3.5rem);
  border: 2px solid rgb(89, 0, 255);
}

.menu-item {
  font-size: 1.125rem;
  color: var(--color-black);
  line-height: 0.96896; /* 17.441px */
}

.menu-item:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

.menu-burger {
  display: none;
}

/*----------- 6.2.HEADER main screen ---*/
.screen {
  background-color: var(--color-light3-blue);
  border: 2px solid red;
  height: calc(100vh - var(--nav-height));
}

.screen > div {
  height: inherit;
  display: flex;
}

.screen-heading {
  max-width: fit-content;
  height: inherit;

  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.25rem;

  border: 2px solid green;
}

.screen-titel {
  width: min-content;
  font-size: clamp(2.25rem, 1.2256rem + 3.152vw, 4.0625rem);
  font-weight: 800;
  line-height: 0.95; /* 61.685px */
  letter-spacing: clamp(-0.08125rem, -0.03245rem - 0.054vw, -0.05rem);
  text-transform: uppercase;
  border: 2px solid red;
}

.screen-text {
  max-width: calc(76% + 15 * ((100vw - 390px) / 1000));
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  border: 2px solid red;
}

.screen .btn {
  background: var(--color-white);
}

.screen .btn:focus,
.screen .btn:hover {
  background: var(--color-link-hover);
}

.screen .btn:hover .btn_link {
  color: var(--color-white);
}

.screen-margin {
  margin-inline-start: clamp(1.375rem, 0.9512rem + 1.304vw, 2.125rem);
}

/*----------- 7.MAIN ----*/
/*----------- 7.1.MAIN haeder ----*/
.main-haeder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
  padding-top: clamp(4.375rem, 2.35839rem + 8.491vw, 10rem);
  padding-bottom: clamp(4.375rem, 2.35839rem + 8.491vw, 10rem);
  border: 2px solid red;
}

.main-subtitle {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  margin-top: 0.9375rem;
}

.main-goal {
  font-size: clamp(1.25rem, 1.08742rem + 0.667vw, 1.6875rem);
}

.goal-subtitle {
  font-size: clamp(1rem, 0.90713rem + 0.381vw, 1.25rem);
  color: var(--color-medium-blue);
}

/*----------- 7.2.MAIN main ----*/
.box-help {
  display: flex;
  flex-direction: column;
  row-gap: clamp(2.5rem, 1.87495rem + 1.389vw, 3.125rem); /*720 px - 40 px*/
  margin-bottom: clamp(3.125rem, 4.83934rem - 1.905vw, 4.375rem);
  border: 2px solid red;
}

/* ! Выровнять посилання */
.box-help + a {

color: green;
}

.card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(1.25rem, -1.37485rem + 5.833vw, 3.875rem); /*720 px - 20 px*/

  background: var(--color-light-blue);
  border-radius: 0.625rem;
  padding: 2.5rem clamp(1.25rem, -1.37485rem + 5.833vw, 3.875rem); /*720 px - 20 px*/
}

.card-titel {
  font-size: clamp(1.875rem, 0.8751rem + 2.222vw, 2.875rem);
  letter-spacing: -0.0575rem;
}

.card-subject {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

.card-subtitle {
  font-weight: 600;
}

.card-subtitle,
.card-text {
  font-size: clamp(1rem, 0.90713rem + 0.381vw, 1.25rem);
}

.card-img {
  max-width: clamp(20rem, -20.76928rem + 63.702vw, 36.5625rem);
  border-radius: 0.625rem;
}
/*----------- 7.3.MAIN article ----*/
/*----------- 7.4.MAIN section to-get----*/
.to-get {
  text-wrap: balance;
  text-align: center;
}

.to-get_title {
  max-width: max-content;
  margin-inline: auto;
  border: 2px solid red;
}

.to-get_subtitle {
  border: 2px solid red;
  margin-inline: auto;
  width: clamp(
    21.875rem,
    12.82139rem + 37.143vw,
    46.25rem
  ); /*тут потрыбно проценти Помилка*/
  color: var(--color-medium-blue);
  font-size: clamp(1rem, 0.90713rem + 0.381vw, 1.25rem);
  margin-top: 0.9375rem;
}

.to-get_goal {
  padding-top: clamp(3.125rem, 5.52508rem - 2.667vw, 4.875rem);
  padding-bottom: clamp(3.125rem, 4.83934rem - 1.905vw, 4.375rem);
}

.to-get_goal > p {
  font-size: clamp(1.25rem, 1.08742rem + 0.667vw, 1.6875rem);
}

.calculation {
  margin-inline: auto;
  max-width: 21.4375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 3.75rem;

  text-transform: uppercase;
  letter-spacing: -0.075rem;
  padding-top: clamp(1.0625rem, 1.57668rem - 0.571vw, 1.4375rem);
  color: var(--color-black);
}

.calculation li:nth-child(2) {
  border-left: 1px solid var(--color-light3-blue);
  border-right: 1px solid var(--color-light3-blue);
  padding-left: 0.8125rem;
  padding-right: 0.8125rem;
}

/*----------- 20.MEDIA ----*/
@media screen and (max-width: 959.98px) {
  .btm-menu {
    margin-inline: 2.25rem;
  }

  .menu-items {
    display: none;
  }

  .menu-burger {
    display: block;
  }
}

@media screen and (max-width: 719.98px) {
  .main-haeder {
    align-items: start;
    text-align: start;
  }

  .card-item {
    flex-direction: column-reverse;
    align-items: center;
    gap: clamp(3.875rem, 5.50008rem + -6.667vw, 2.5rem);
  }

  .card-img {
    max-width: 100%;
  }
}

@media screen and (max-width: 539.98px) {
  .container-padding {
    padding-left: clamp(
      0.625rem,
      -1.00008rem + 6.667vw,
      1.25rem
    ); /*390 px - 10 px*/
    padding-right: clamp(
      0.625rem,
      -1.00008rem + 6.667vw,
      1.25rem
    ); /*390 px - 10 px*/
  }

  .header {
    background: var(--color-light-blue);
  }

  .btm-menu,
  .btn-none {
    display: none;
  }

  .screen-margin {
    margin-inline-start: none;
    margin-inline-end: 0;
  }
}

@media screen and (max-width: 390.98px) {
  .to-get {
    text-align: center;
  }

  .to-get_title,
  .to-get_subtitle {
    text-align: left;
    margin-inline-start: 0;
  }
}
