/*
1.VARIABLES
2.BASIC tags
3.BASIC class
4.Button & btn link
5.Fonts
6.HEADER
  6.1.HEADER menu
  6.2.HEADER main screen 
7.MAIN
  7.1.MAIN haeder
  7.2.MAIN main
  7.3.MAIN article
  7.4.MAIN section
8.FOOTER
  8.1.FOOTER section contact
  8.2.FOOTER Form

20.MEDIA
*/

/* ! Искать текст предупреждение */

/*----------- 1.VARIABLES ----*/
:root {
  --max-width: 81.125rem;
  --color-white: white;
  --color-black: black;

  --color-medium-blue: #73a6b1;
  --color-light-blue: #f1fdff;

  --color-light3-blue: #9ad2de;
  --color-button: #7ae5fd;

  --color-button-hover: #00d0ff;

  --color-link-hover: #000ad0;
  --color-footer: #f9fadf;

  --color-footer1: #f2f5cf;
  --nav-height: 9rem;
}

/*----------- 2.BASIC tags ----*/
body {
  font-family: Montserrat, Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-black);
  background: var(--color-white);
}

a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/*----------- 3.BASIC class ----*/
.container {
  max-width: var(--max-width);
  margin-inline: auto;
}

.container-padding {
  padding-right: clamp(
    1.25rem,
    -1.93735rem + 7.083vw,
    4.4375rem
  ); /*720 px - 20 px*/
  padding-left: clamp(
    1.25rem,
    -1.93735rem + 7.083vw,
    4.4375rem
  ); /*720 px - 20 px*/
}

.off {
  display: none;
}

.bottom-indent {
  padding-bottom: clamp(70px, 2.28582rem + 8.571vw, 160px);
}

/*----------- 4.Button & btn link ----*/
.btn {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5.4375rem;
  padding: 1.3125rem 2.1875rem;
  background: var(--color-button);
}

.btn:focus,
.btn:hover {
  background: var(--color-button-hover);
}

.btm-menu {
  margin-inline-start: 1.5rem;
}

.btn_link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.2; /* 21.6px */
  color: var(--color-black);
}

/*  .btn-bank {
  display: block;
  margin: 0 auto;
}*/

/*----------- 5.Fonts ----*/
h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h2 {
  font-size: clamp(2.5rem, 2.03566rem + 1.905vw, 3.75rem);
  letter-spacing: clamp(
    -0.075rem,
    -0.04074rem + -0.038vw,
    -0.05rem
  ); /* 1.2px | -0.8px; */
}

.font-size-h20 {
  font-size: clamp(1rem, 0.89621rem + 0.437vw, 1.25rem);
}

.font-size-h27 {
  font-size: clamp(1.25rem, 1.14194rem + 0.455vw, 1.6875rem);
}

/*----------- 6.HEADER ----*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
}

.logo {
  width: 4.0625rem;
  height: 4.0625rem;
}

/*----------- 6.1.HEADER menu----*/
.menu {
  display: flex;
}

.menu-items {
  display: flex;
  align-items: center;
  column-gap: clamp(2rem, 0.50015rem + 3.333vw, 3.5rem);
}

.menu-item {
  color: var(--color-black);
  font-size: 1.125rem;
  line-height: 0.96896; /* 17.441px */
}

.menu-item:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

.menu-burger {
  display: none;
}

/*----------- 6.2.HEADER main screen ---*/
.screen {
  height: calc(100vh - var(--nav-height));
  background-color: var(--color-light3-blue);
}

.screen > div {
  display: flex;
  height: inherit;
}

.screen-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: fit-content;
  height: inherit;
  row-gap: 1.25rem;
}

.screen-titel {
  width: min-content;
  font-weight: 800;
  font-size: clamp(2.25rem, 1.2256rem + 3.152vw, 4.0625rem);
  line-height: 0.95; /* 61.685px */
  text-transform: uppercase;
  letter-spacing: clamp(-0.08125rem, -0.03245rem - 0.054vw, -0.05rem);
}

.screen-text {
  max-width: calc(76% + 15 * ((100vw - 390px) / 1000));
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}

.screen .btn {
  background: var(--color-white);
}

.screen .btn:focus,
.screen .btn:hover {
  background: var(--color-link-hover);
}

.screen .btn:focus.btn_link,
.screen .btn:hover.btn_link {
  color: var(--color-white);
}

.screen-margin {
  margin-inline-start: clamp(1.375rem, 0.9512rem + 1.304vw, 2.125rem);
}

/*----------- 7.MAIN ----*/
/*----------- 7.1.MAIN haeder ----*/
.main-haeder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;

  padding-top: clamp(4.375rem, 2.35839rem + 8.491vw, 10rem);
  padding-bottom: clamp(4.375rem, 2.35839rem + 8.491vw, 10rem);
}

.main-subtitle {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  margin-top: 0.9375rem;
}

.main-goal {
  font-size: clamp(1.25rem, 1.08742rem + 0.667vw, 1.6875rem);
}

.goal-subtitle {
  color: var(--color-medium-blue);
  font-size: clamp(1rem, 0.90713rem + 0.381vw, 1.25rem);
}

/*----------- 7.2.MAIN main ----*/
.main-help .btn {
  /* ! Выровнять посилання */
  margin-top: 50px;
  color: green;
}

.box-help {
  display: flex;
  flex-direction: column;
  row-gap: clamp(2.5rem, 1.87495rem + 1.389vw, 3.125rem); /*720 px - 40 px*/
}

.card-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(1.25rem, -1.37485rem + 5.833vw, 3.875rem); /*720 px - 20 px*/

  padding: 2.5rem clamp(1.25rem, -1.37485rem + 5.833vw, 3.875rem); /*720 px - 20 px*/
  border-radius: 0.625rem;
  background: var(--color-light-blue);
}

.card-titel {
  font-size: clamp(1.875rem, 0.8751rem + 2.222vw, 2.875rem);
  letter-spacing: -0.0575rem;
}

.card-subject {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

.card-subtitle {
  font-weight: 600;
}

.card-subtitle,
.card-text {
  font-size: clamp(1rem, 0.90713rem + 0.381vw, 1.25rem);
}

.card-img {
  max-width: clamp(20rem, -20.76928rem + 63.702vw, 36.5625rem);
  border-radius: 0.625rem;
}

/*----------- 7.3.MAIN article mission ----*/
.mission {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: end;
  width: auto;
  margin-right: clamp(0px, -5.9437px + 1.524vw, 1rem);
  margin-bottom: clamp(70px, 43.9987px + 6.667vw, 140px);
  margin-left: clamp(0px, -5.9437px + 1.524vw, 1rem);
}

.mission-rectangle {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: clamp(
    15.625rem,
    4.00015rem + 25.833vw,
    19.5rem
  ); /*720px - 250 px | 960px-312px*/
  background: var(--color-light-blue);
}

.mission-text {
  display: flex;
  z-index: 20;
  flex: 50%;
  align-items: center;
  width: 100%;
  height: clamp(
    15.625rem,
    4.00015rem + 25.833vw,
    19.5rem
  ); /*720px - 250 px | 960px-312px*/
}

.mission-text p {
  margin-left: clamp(1.25rem, -0.32511rem + 4.667vw, 3.875rem);
  text-wrap: balance; /* 540 - 20px*/
}

.mission-picture {
  display: flex;
  z-index: 15;
  position: relative;
  flex: 50%;
  justify-content: center;
}

.mission-img {
  height: clamp(
    19.875rem,
    14.88398rem + 20.476vw,
    33.3125rem
  ); /* 540px - 338 px | 567px*/
}

.mission-line {
  z-index: -1;
  position: absolute;
  max-width: 114%;
  height: clamp(
    15.25rem,
    11.39631rem + 15.81vw,
    25.625rem
  ); /* width: clamp(24.375rem, 16.83045rem + 30.952vw, 44.6875rem); */
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*----------- 7.4.MAIN section to-get----*/
.to-get {
  text-align: center;
  text-wrap: balance;
}

.to-get_title {
  max-width: max-content;
  margin-inline: auto;
}

.to-get_subtitle {
  width: clamp(21.875rem, 12.82139rem + 37.143vw, 46.25rem);
  margin-top: 0.9375rem; /* ! Зробити проценами*/
  color: var(--color-medium-blue);
  font-size: clamp(1rem, 0.90713rem + 0.381vw, 1.25rem);
  margin-inline: auto;
}

.to-get_goal {
  padding-top: clamp(3.125rem, 5.52508rem - 2.667vw, 4.875rem);
  padding-bottom: clamp(3.125rem, 4.83934rem - 1.905vw, 4.375rem);
}

.to-get_goal > p {
  font-size: clamp(1.25rem, 1.08742rem + 0.667vw, 1.6875rem);
}

.calculation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 21.4375rem;
  
  color: var(--color-black);
  font-size: 3.75rem;
  text-transform: uppercase;
  letter-spacing: -0.075rem;

  padding-top: clamp(1.0625rem, 1.57668rem - 0.571vw, 1.4375rem);
  margin-inline: auto;
}

.calculation li:nth-child(2) {
  padding-right: 0.8125rem;
  padding-left: 0.8125rem;
  border-right: 1px solid var(--color-light3-blue);
  border-left: 1px solid var(--color-light3-blue);
}

/*----------- 8.FOOTER ----*/
/*----------- 8.1.FOOTER section contact----*/
.footer {
  padding-bottom: clamp(0rem, -9.9999rem + 22.222vw, 10rem);
  background-color: var(--color-footer);
}

.contacts {
  display: flex;
  flex-direction: row;
  padding-top: clamp(2.5rem, 2.26795rem + 0.952vw, 3.125rem);
  padding-bottom: clamp(2.5rem, 2.26795rem + 0.952vw, 3.125rem);
  gap: clamp(2.75rem, 1.61242rem + 4.667vw, 5.8125rem);
}

.contacts h2 {
  display: inline-block;
  flex: 1;
  text-align: center;
}

.social-networks {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: clamp(2.5625rem, 2.14759rem + 1.747vw, 3.5625rem);
}

.social-networks :last-child p {
  padding-top: 0.375rem;
}

.social-networks-bot {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.social-networks-item {
  max-width: 21.8125rem;
}

.social-networks-item_info {
  padding-top: 0.5625rem;
}

.phone-text {
  color: var(--color-black);
  font-weight: 700;
}

.icon-phone,
.icon-telegram,
.icon-viber {
  color: var(--color-black);
  font-size: 2rem;
}

.phone-text:focus,
.icon-phone:focus,
.icon-telegram:focus,
.icon-viber:focus,
.phone-text:hover,
.icon-phone:hover,
.icon-telegram:hover,
.icon-viber:hover {
  color: var(--color-button-hover);
  cursor: pointer;
}

/*----------- 8.2.FOOTER Form ----*/
.form-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: clamp(2.5rem, 2.03566rem + 1.905vw, 3.75rem)
    clamp(1.25rem, 0.32131rem + 3.81vw, 3.75rem);
  background: var(--color-white);
  gap: clamp(2.5rem, 1.26955rem + 5.048vw, 5.8125rem);
}

.form {
  height: inherit;
}

.form,
.form-img {
  max-width: 50%;
}

.form-img {
  position: relative;
}

.form-img img {
  width: 100%;
}

.form-img-circle {
  position: absolute;
  top: 52%;
  left: 62%;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  color: var(--color-black);
  background-color: var(--color-light-blue);
  box-shadow: 6px 6px 0px var(--color-black);
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-top: clamp(2.4375rem, 4.55975rem - 2.62vw, 3.9375rem);
  color: var(--color-black);
  gap: 1.9375rem;
}

.form-input-item {
  width: 100%;
  height: 4.125rem;
  padding-left: 2.6875rem;

  border: none;
  border-radius: 3.8125rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";
}

.form-input-item[name="name"],
.form-input-item[name="email"] {
  box-sizing: border-box;
  background: var(--color-footer);
}

.form-input-item[name="name"]:focus,
.form-input-item[name="email"]:focus {
  outline: 2px groove var(--color-button);
}

.form-input-item[name="name"]:focus-visible,
.form-input-item[name="email"]:focus-visible {
  background-color: var(--color-footer1);
}

.form-input-item[type="button"] {
  padding-left: 0;
  font-size: 1.125rem;
  line-height: 120%;
  text-transform: uppercase;
  background: var(--color-button);
}

.form-input-item[type="button"]:hover {
  border: none;
  background-color: var(--color-button-hover);
}

.form-input-item::placeholder {
  color: var(--color-black);
}

.form-input-item:focus::placeholder {
  opacity: 0;
}

/*----------- 20.MEDIA ----*/
@media screen and (max-width: 959.98px) {
  .btm-menu {
    margin-inline: 2.25rem;
  }

  .menu-items {
    display: none;
  }

  .menu-burger {
    display: block;
  }
}

@media screen and (max-width: 719.98px) {
  .main-haeder {
    align-items: start;
    text-align: start;
  }

  .card-item {
    flex-direction: column-reverse;
    align-items: center;
    gap: clamp(3.875rem, 5.50008rem + -6.667vw, 2.5rem);
  }

  .card-img {
    max-width: 100%;
  }

  .footer-form.container-padding {
    padding-right: 0;
    padding-left: 0;
  }

  .form,
  .form-img {
    max-width: 100%;
  }

  .form,
  .form-box {
    justify-content: center;
  }

  .form-img img {
    width: 21.25rem;
  }

  .form-box {
    flex-direction: column;
  }

  .mission {
    flex-direction: column;
    align-items: center;
    background: var(--color-light-blue);
  }

  .mission-text {
    height: 100%;
    padding-top: 2.5rem;
    padding-bottom: 1.625rem;
  }
}

@media screen and (max-width: 539.98px) {
  .container-padding {
    padding-right: clamp(
      0.625rem,
      -1.00008rem + 6.667vw,
      1.25rem
    ); /*390 px - 10 px*/
    padding-left: clamp(
      0.625rem,
      -1.00008rem + 6.667vw,
      1.25rem
    ); /*390 px - 10 px*/
  }

  .header {
    background: var(--color-light-blue);
  }

  .btm-menu,
  .btn-none {
    display: none;
  }

  .screen-margin {
    margin-inline-start: none;
    margin-inline-end: 0;
  }

  .contacts {
    flex-direction: column;
  }

  .contacts h2 {
    text-align: left;
  }
}

@media screen and (max-width: 390.98px) {
  .to-get {
    text-align: center;
  }

  .to-get_title,
  .to-get_subtitle {
    text-align: left;
    margin-inline-start: 0;
  }
}
